<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Price Benchmark</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
    <header>
        <div class="logo-title-container">
            <img src="{{ url_for('static',filename='img/amadeus-logo.png') }}" alt="Amadeus Logo" class="company-logo">
            <h1>Air Price Benchmark</h1>
        </div>
    </header>
    <div id="data-container">
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
        <div id="loading" class="spinner"></div>
    </div>
    <div id="filter-box">
        <h2>Inputs</h2>
        <form id="filter-form">
            <div class="form-column first-column">
                <label for="origin-city">Origin city:</label>
                <input list="origin-options" id="origin-city" name="origin-city" value="PAR">
                <datalist id="origin-options"></datalist>
    
                <label for="nb-connections">NB connections:</label>
                <div id="nb-connections-slider"></div>
    
                <label for="is-one-adt">Adult:</label>
                <select id="is-one-adt">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
    
            <div class="form-column second-column">
                <label for="destination-city">Destination city:</label>
                <input list="destination-options" id="destination-city" name="destination-city" value="LIS">
                <datalist id="destination-options"></datalist>
    
                <label for="trip-type">Round trip / One way:</label>
                <select id="trip-type">
                    <option value="Round trip">Round trip</option>
                    <option value="One way">One way</option>
                </select>
    
                <label for="cabin">Cabin:</label>
                <select id="cabin">
                    <option value="Economy">Economy</option>
                    <option value="Premium Economy">Premium economy</option>
                    <option value="Business">Business</option>
                    <option value="First class">First class</option>
                </select>
            </div>

            <div class="form-column third-column">
                <label for="search-date">Search date:</label>
                <input type="text" id="search-date" name="search-date" placeholder="Select Date Range">
            
                <label for="departure-date">Departure date:</label>
                <input type="text" id="departure-date" name="departure-date" placeholder="Select Date Range">
            </div>
            <div class="form-column fourth-column">
                <label>Stay duration:</label>
                <div class="checkbox-group">
                    <label><input type="checkbox" class="stay-duration all" checked> (All)</label>
                    <label><input type="checkbox" class="stay-duration" checked> No Stay</label>
                    <label><input type="checkbox" class="stay-duration" checked> 0</label>
                    <label><input type="checkbox" class="stay-duration" checked> 1</label>
                    <label><input type="checkbox" class="stay-duration" checked> 2</label>
                    <label><input type="checkbox" class="stay-duration" checked> 3</label>
                    <label><input type="checkbox" class="stay-duration" checked> 4</label>
                    <label><input type="checkbox" class="stay-duration" checked> 5</label>
                </div>
            </div>
            <div class="form-action">
                <button type="button" id="search-flights">Search</button>
            </div>
        </form>
    </div>    
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>